
body {
	margin: 0;
	background: #fff;
	text-align: center; /* Necessary for IE 6,7,8 */
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
}

a:link,
a:hover,
a:active,
a:visited {
	color: black;
	text-decoration: none;
}

#container {
	width: 900px;
	margin: 0 auto;
}

#drawing,
#entries,
#poem {
	width: 300px;
	height: 383px;
	float: left;
}

#entries {
	border-spacing: 0;
	border-collapse: collapse;
	text-align: center;
	vertical-align: center;
}

#entries #name {
	height: 24%;
	background-color: #B1D3EC;
}

#entries #name h1 {
	margin: 0;
	font-family: 'Molle', cursive;
	font-size: 26px;
}

#entries #life {
	height: 38%;
	background-color: #CCFFBF;
}

#entries #work {
	height: 38%;
	background-color: #FFF9BF;
}

#entries #life p, 
#entries #work p {
	line-height: 300%;
}

ul.menu {
	list-style: none;
	display: inline;
}
