/* Font size conversion

5px		0.3125em	31.25%
6px		0.3750em	37.50%
7px		0.4375em	43.75%
8px		0.5000em	50.00%
9px		0.5625em	56.25%
10px	0.6250em	62.50%
11px	0.6875em	68.75%
12px	0.7500em	75.00%
13px	0.8125em	81.25%
14px	0.8750em	87.50%
15px	0.9375em	93.75%
16px	1.0000em	100.00%
17px	1.0625em	106.25%
18px	1.1250em	112.50%
19px	1.1875em	118.75%
20px	1.2500em	125.00%
21px	1.3125em	131.25%
22px	1.3750em	137.50%
23px	1.4375em	143.75%
24px	1.5000em	150.00%
25px	1.5625em	156.25%

*/

html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif; 
	text-align: center; /* Necessary for IE 6,7,8 */
}

a:link,
a:hover,
a:active,
a:visited {
	color: black;
	text-decoration: none;
}

#container {
	height: 70%;
	width: 75%;
	margin: 0 auto ;
	overflow: hidden;
}

#left, 
#entries, 
#right {
	height: 100%;
	width: 33.3%;
	float: left;
	overflow: hidden;
}

#entries #name, 
#entries #life, 
#entries #work {
	width: 100%;
	overflow: hidden;
}

#entries #name {
	height: 24%;
}

#entries #life, 
#entries #work {
	height: 38%;
}

#entries table {
	height: 100%;
	width: 100%;
}

#entries table tr td {
	vertical-align: center;
}

#entries #name {
	background-color: #B1D3EC;
}

#entries #life {
	background-color: #CCFFBF;
}

#entries #work {
	background-color: #FFF9BF;
}

#name h1 {
	font-family: 'Miss Fajardose', cursive;
	font-weight: 800;
	font-size: 2.8em;
}

#life p, 
#work p {
	font-style: italic;
}

/* 640 and less*/
@media screen and (max-width: 640px) {
	#name h1 {
		font-size: 1.2em;
  	}

	#life p,
	#work p {
		font-size: 0.8em;
	}
}

