
body {
	margin: 0;
	background: #fff;
	text-align: center; /* Necessary for IE 6,7,8 */
	font-family: 'Times New Roman', Times, serif;
	font-size: 0;
}

a:link,
a:hover,
a:active,
a:visited {
	color: #666;
	text-decoration: none;
}

#container {
	width: 900px;
	margin: 0 auto;
}

.panel {
	width: 300px;
	height: 383px;
	display: inline-block;
	vertical-align: middle;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	text-align: center;
	vertical-align: center;
}

#name {
	height: 24%;
	background-color: #B1D3EC;
}

#life {
	height: 35%;
	background-color: #CCFFBF;
}

#work {
	height: 35%;
	background-color: #FFF9BF;
}

#jump {
	height: 6%;
	font-size: 12px;
}

#name h1 {
	margin: 0;
	font-family: 'Molle', cursive;
	font-size: 30px;
}

#life p, #work p {
	line-height: 150%;
	font-size: 14px;
	font-family: 'Comic Sans MS', cursive, sans-serif;	
}
